<h1>Welcome to the Cat store</h1>

<% @products.each do |product| %>
<br>
<div class="product_wrapper">

<h2 class="title"><%= link_to product.title, product %> </h2>
<p class="description"><%= product.description %></p>
<p class="price">$<%= product.price %></p>
<%= link_to 'Show', product %>
<%= link_to 'Edit', edit_product_path(product) %>
<%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' } %>








</div>
<%end%>
<br>
<br>
<%= link_to 'Add Product', new_product_path %>
